@import "tailwindcss";

@plugin "daisyui" {
  themes: black --default;
}

@plugin "daisyui/theme" {
  name: "black";
  default: false; /* Táto téma nie je predvolená */
  prefersdark: true; /* Predvolená v dark móde */
  color-scheme: dark; /* Nastavenie farby UI prehliadača */

  --color-primary: rgb(29, 155, 240);
  --color-primary-content: rgb(255, 255, 255);

  --color-secondary: rgb(24, 24, 24);
  --color-secondary-content: rgb(200, 200, 200);
}
